th,td,caption{
    border: 1px black solid;
    padding: 10px;
}

body{
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    border-left: 2px black solid;
    border-right: 1px black solid ;
    border-bottom: 2px black solid;
    border-top: 2px black solid;;
    font-size: 22px;
}